<ion-view view-title="Labs">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-android-exit" ng-click="logout()">
        </button>
    </ion-nav-buttons>
    <ion-content >
	<h1>Labs Information</h1>
    <div ng-controller="LabsCtrl">
        <ion-list>
            <ion-item ng-repeat="lab in labDetails" 
                      lab="lab"
                      ng-click="viewDetails(lab.ID)">
                <h3 class="alignleft">
                    <b>{{ lab.LabName }}</b>
                    <br>
                    <p>{{lab.InUse}}/{{ lab.Capacity }} In Use</p>
                </h3>
                <p class="alignright">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </p>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>
