<ion-view view-title="Labs">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-android-exit" ng-click="logout()">
        </button>
    </ion-nav-buttons>
    <ion-content>
	<h1>Labs Information</h1>
    <div ng-controller="LabsCtrl">
        <div style="overflow-x:auto;">
		<table style="width:100%">
        <tr><td>Lab</td><td>Capacity</td><td>In-Use</td></tr>
        <tr ng-repeat="x in labDetails | orderBy:'ID'"><td>{{ x.LabName }}</td><td>{{ x.Capacity }}</td><td>{{ x.InUse }}</td></tr>
        </table>
        </div>
	</div>
  </ion-content>
</ion-view>
