<!--<ion-view view-title="Browse">-->
  <body ng-controller="LibraryCtrl">
  <ion-header-bar class="bar-positive">
      <h1 class="title">Adopt a Kitten!</h1>
  </ion-header-bar>
  <ion-content>
    <h1>Browse</h1>
    <div class="row header">
      <div class="col">Utility Company Name</div>
      <div class="col">Service Code</div>
      <div class="col">Pay Limit</div>
      <div class="col">Account Number to Use</div>
      <div class="col"></div>
    </div>
    <!--<div class="row" ng-repeat="data in ctrl.data">-->
      <div>
      <ion-list><ion-item collection-repeat="item in LibraryCtrl.items">
          {{item}}
      <!--</ion-item><button class="button" ng-click="ctrl.add($index)">Add</button>-->
      </ion-list></div>

      <!--</div>-->
      <!--</div>-->
  </ion-content>
  </body>
<!--</ion-view>-->
