
<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="false">
		<button class="button button-icon button-clear ion-android-exit" ng-click="logout()">
		</button>
	</ion-nav-buttons>
  <ion-content>  
      <div class = list>
		  <label class = "item">
		  <span class ="input-label"> First Name :</span>
			  
		  </label>
		  
		  <label class = "item">
		  <span class ="input-label"> Last Name:</span>
			  
		  </label>
		  <label class = "item">
		  <span class ="input-label"> Mobile:</span>
			  
		  </label>
		  
		  <label class = "item">
		  <span class ="input-label"> DOB:</span>
			  
		  </label>
		  
		  <label class = "item">
		  <span class ="input-label"> Email Id:</span>
			  
		  </label>
		  
		  <label class = "item">
		  <span class ="input-label"> Student Id:</span>
			  
		  </label>
		  
		  <label class = "item">
		  <span class ="input-label"> Address:</span>
			  
		  </label>
	  </div>
  </ion-content>
  
</ion-view>
