<ion-view view-title="Edit Password">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-android-exit" ng-click="logout()">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <div ng-controller="PwdEditCtrl">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-key placeholder-icon"></i>
                    <input type="password" placeholder="Old password" ng-model="password1">
                </label>
                <label class="item item-input">
                    <i class="icon ion-key placeholder-icon"></i>
                    <input type="password"  placeholder="New password" ng-model="password">
                </label>


                <button class="button button-block button-positive" ng-click= "updatepassword(password)"> Update password </button>

            </div>

        </div>

    </ion-content>
</ion-view>